article,
header {
  max-width: $max-font-media - $body-padding;
  padding  : 0 $body-padding;
  margin   : $line-height*2 auto $line-height*4;
}

nav {
  display        : flex;
  justify-content: space-around;
}
