$min: strip-unit($min-font);
$max: strip-unit($max-font);
$max-media: strip-unit($max-font-media);
$min-media: strip-unit($min-font-media);

body {
  line-height: $line-height;
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  color: $text-color;
  letter-spacing: -.04em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-size: 1rem;
}

h1,
h2,
.lead {
  font-weight: 700;
}

.lead {
  font-size: 1.35rem;
  letter-spacing: 0;
}

p, ul {
  padding-bottom: $line-height;
}

article a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid rgba($link-color, 0.5);

  &:hover, &:focus {
    border-bottom-color: $link-color;
  }
}

ul {
  list-style-type: none;
}

li {
  &::before {
    content: '';
    background-color: currentColor;
    opacity: .5;
    border-radius: 50%;
    width: $body-padding / 4;
    height: $body-padding / 4;
    margin-left: -$body-padding * 3 / 5;
    margin-right: $body-padding * (3 / 5 - 1 / 4);
    display: inline-block;
    vertical-align: middle;
  }
}

::selection {
  color: white;
  background: darken($text-color, 10%);
}

// Responsive fontsize
html {
  font-size: $min-font;
}

@media (min-width: $min-font-media) {
  html {
    font-size: calc(#{$min-font} + (#{$max} - #{$min}) * ( (100vw - #{$min-font-media}) / (#{$max-media} - #{$min-media}) ) );
  }
}

@media (min-width: $max-font-media) {
  html {
    font-size: $max-font;
  }
}
