$min: strip-unit($min-font);
$max: strip-unit($max-font);
$max-media: strip-unit($max-font-media);
$min-media: strip-unit($min-font-media);

body {
  line-height: $line-height;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 200;
  color      : $text-color;
  letter-spacing: .02em;
  font-feature-settings: "tnum" 1, "kern" 1, "liga" 1;
}

h1,
h2 {
  font-weight   : 700;
}

h2 {
  font-size  : 1.4rem;
  transform  : translateY(-0.2rem) translateX(-0.05rem);
  padding-top: $line-height * 2;
}

a {
  color          : $link-color;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  &::before {
    content: '';
    background-color: currentColor;
    opacity: 0.5;
    border-radius: 50%;
    width: $body-padding / 4;
    height: $body-padding / 4;
    margin-left: -$body-padding * 3 / 5;
    margin-right: $body-padding * (3 / 5 - 1 / 4);
    display: inline-block;
    vertical-align: middle;
  }
}

::selection {
  color: white;
  background: $brand-color;
}

// Responsive fontsize
html {
  font-size: $min-font;
}

@media (min-width: $min-font-media) {
  html {
    font-size: calc(#{$min-font} + (#{$max} - #{$min}) * ( (100vw - #{$min-font-media}) / (#{$max-media} - #{$min-media}) ) );
  }
}

@media (min-width: $max-font-media) {
  html {
    font-size: $max-font;
  }
}
