// Typography
$line-height   : 1.5rem;
$min-font      : .875em;
$max-font      : 1.25em;
$min-font-media: 20em;
$max-font-media: 40em;

// Layout
$body-padding  : 1em;

// Colors
$text-color    : hsl(210, 3%, 33%);
$link-color    : hsl(210, 75%, 50%);
