// Typography
$line-height   : 30 / 18 * 1rem;
$min-font      : .750;
$max-font      : 1.125em;
$min-font-media: 20em;
$max-font-media: 32em;

// Layout
$body-padding  : 1em;

// Colors
$text-color    : hsl(210, 3%, 33%);
$brand-color   : hsl(164, 72%, 63%);
$link-color    : darken(saturate($brand-color, 100%), 25%);

// Gradient
$gradient: linear-gradient(
  to right bottom,
  hsl(187, 100%, 63%),
  hsl(134, 75%, 63%)
);
